p{
    /*
    font-family: monospace;
    font-family: sans-serif; 
    font-family: serif; 
    font-weight: normal;
    font-size: 1rem;
    color: #000; */
}
body{
    background: url(maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400vh;

    /* background-repeat: no-repeat; */
    /* background-repeat:repeat-x; */
    /* background-repeat: repeat-y; */
    
    /* background-position: 100px 100px; */

    /* background-size: 200px 200px; */
    /* background-size: cover; */
    background-attachment:fixed ;
    
    
}